<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu site</title>
  <link href="/style/global.css" rel="stylesheet">
</head>

<body>
  <header class="header">
    <a href="/">Logo</a>
    <nav>
      <ul class="menu">
        <li><a>Sobre</a></li>
        <li><a>Conta</a></li>
        <li><a>Carrinho</a></li>
      </ul>
    </nav>
  </header>
  <section class="grid" , id="itens">

    <div class="grid-item">
      <a> <img src="<%=produto.img%>" id="image-produto"> </a>
    </div>

    <div class="gird-item" id="grid-descricao">
      <h2>
        <%=produto.nome %>
      </h2>
      <p>
        <%=produto.descricao %>
      </p>
      <ul class="preco-desconto">
        <li>
          <span>
            <%=`R$: ${produto.price-(produto.price * (produto.promocao/ 100))}`%>
          </span>
        </li>
        <li>
          <span>
            <%=produto.promocao + "%" %>
          </span>
        </li>
      </ul>
    </div>
    <div class="grid-item" id="grid-compra">
      <div>
        <button onclick="funcionando()" class="button-compra"> Comprar </button>
      </div>
      <div class="button-carrinho">
        Adicionar
      </div>
    </div>

  </section>
  
  <script>
     
     function funcionando(){
       const preco = document.getElementById()
       console.log("rodando");
     }
     
  </script>
</body>

</html>